<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/base :: headfiles('Autenticação', ~{::link})}">

    <link rel="stylesheet" th:href="@{/css/auth.css}">

</head>
<body>
    <form  class="form-signin"  th:action="@{/login}" method="post">
        <img alt="Logo do TalentHub" class="mb-4" th:src="@{/imagens/talent_hub_logo.png}">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error} ">Login e/ou senha inválidos!</div>

        </div>
        
        <label class="sr-only" for="username">Login</label>
        <input autofocus class="form-control input-login" id="username" name="username" placeholder="Login" required type="text">

        <label class="sr-only" for="password">Senha</label>
        <input class="form-control input-login" id="password" name="password" placeholder="Senha" required type="password">
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</body>
</html>
