<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" th:with="titulo='Candidaturas'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div layout:fragment="content">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Candidato</th>
                        <th>Empresa</th>
                        <th>Oferta</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Itera sobre a lista de candidaturas -->
                    <tr th:each="candidatura : ${candidaturas}">
                        <td><a th:href="@{/alunos/detalhamento/{id}(id=${candidatura.alunoID})}" th:text="${candidatura.nomeAluno}"></a></td>
                        <td><a th:href="@{/empresas/detalhamento/{id}(id=${candidatura.empresaID})}" th:text="${candidatura.nomeEmpresa}"></a></td>
                        <td><a th:href="@{/ofertas/detalhamento/{id}(id=${candidatura.ofertaID})}" th:text="${candidatura.nomeOferta}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
