<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" th:with="titulo='Empresas'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div layout:fragment="content">

        <form th:action="@{/empresas/cadastro}" method="GET">
            <button class="btn btn-primary" type="submit">Novo</button>
        </form>
        <br />

        <div th:if="${not #lists.isEmpty(empresas)}">
            <div th:text="'Total ' + ${#lists.size(empresas)} + ' registros'" style="text-align: right; color: gray; font-size: 0.85em;" />

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CNPJ</th>
                        <th>Pessoa de Contato</th>
                        <th>Atividade Principal</th>
                        <th>URL da empresa</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa : ${empresas}">
                        <td>[[${empresa.id}]]</td>
                        <td><a th:href="@{/empresas/detalhamento/{id}(id=${empresa.id})}" th:text="${empresa.nome}"></a></td>
                        <td>[[${empresa.cnpj}]]</td>
                        <td>[[${empresa.pessoaContato}]]</td>
                        <td>[[${empresa.atividadePrincipal}]]</td>
                        <td>[[${empresa.url}]]</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <span th:text="'Página ' + (${currentPage} + 1) + ' de ' + ${totalPages}"></span>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- Botão para página anterior -->
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/empresas(page=${currentPage - 1}, size=${pageSize})}" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- Botões numéricos de páginas -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/empresas(page=${i}, size=${pageSize})}" th:text="${i + 1}">1</a>
                    </li>

                    <!-- Botão para próxima página -->
                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/empresas(page=${currentPage + 1}, size=${pageSize})}" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
</body>

</html>