.logo-bar {
    background-color: #fffafa;

}

.logo-bar img {
    vertical-align: sub;
    margin-right: 5px;
    width: 5rem;
    height: 3rem;
}

.logo-font {
    font-family: 'Droid Serif';
    font-size: 2.3rem;
}

.head-buttons {
    display: flex;
    gap: 10px;
    /* Espaço entre os botões */
}