<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="titulo='Home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div layout:fragment="content">

        <h2>Sistema de Estágios</h2>

        <p>Bem-vindo ao sistema de estágios, sua plataforma para gerenciar oportunidades de estágio e inscrições.</p>

        <div>Como <strong>Coordenador</strong>, você poderá:</div>
        <ul>
            <li>Consultar Candidaturas no sistema
            
        </ul>
        <div>Como <strong>Aluno</strong>, você poderá:</div>
        <ul>
            <li>Criar seu cadastro</li>
            <li>Inscrever-se em estágios</li>
            <li>Acompanhar o status das suas inscrições</li>
        </ul>
         <div>Como <strong>Empresa</strong>, você poderá:</div>
        <ul>
            <li>Criar seu cadastro</li>
            <li>Inserir ofertas de estágio</li>
        </ul>
    </div>
</body>

</html>