<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" th:with="titulo='Detalhes do Aluno'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${aluno.nome}">Nome do Aluno</h5>
                        <p class="card-text"><strong>Username: </strong><span th:text="${aluno.username}"></span></p>
                        <p class="card-text"><strong>Habilidades: </strong></p>
                        <ul>
                            <li th:each="habilidade : ${aluno.habilidades}" th:text="${habilidade}"></li>
                        </ul>
                        <p class="card-text"><strong>Candidato em: </strong></p>
                        <ul>
                            <li th:each="oferta : ${aluno.ofertasCandidaturas}" th:text="${oferta.atividadePrincipal}"></li>
                        </ul>
                        <!-- Botão para retornar à última página visitada -->
                        <button type="button" class="btn btn-primary mt-3" onclick="history.back()">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>