<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" th:with="titulo='Alunos'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div layout:fragment="content">

        <div class="head-buttons">
            <form th:action="@{/alunos/cadastro}" method="GET">
                <button class="btn btn-primary" type="submit">Novo</button>
            </form>
            <form th:action="@{/alunos/candidatura}" method="GET">
                <button class="btn btn-primary" type="submit">Candidatar-se</button>
            </form>
        </div>
        <br />

        <div th:if="${not #lists.isEmpty(alunos)}">
            <div th:text="'Total ' + ${#lists.size(alunos)} + ' registros'" style="text-align: right; color: gray; font-size: 0.85em;" />

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Username</th>
                        <!-- <th class="text-center">Admin</th>
                        <th class="text-center">Usuário</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <td>[[${aluno.id}]]</td>
                        <td><a th:href="@{/alunos/{id}(id=${aluno.id})}" th:text="${aluno.nome}"></a></td>
                        <td>[[${aluno.username}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>